<% if @game.move == :attack %>
  <div id='attack-confirmation'>
    <h3><%= @game.active_player.name %> attacked 
    <%= @game.inactive_player.name %>!</h3>
    <% if @game.damage >= 20 %>It's super effective!<% end %>
    <br>
    <%= @game.inactive_player.name %> took
    <%= @game.damage %> damage!
    <br>
  </div>

  <% unless @game.loser.nil? %>
    <div id='loss-confirmation'>
      <h1><%= @game.loser.name %> has fainted!
    </div>
  <% end %>
<% end %>

